body {
    font-family: "Arial", sans-serif;
    width: 650px;
    min-width: 720px;
    margin: 20px auto !important;
    padding: 20px;
    background: linear-gradient(180deg, #212121, #212121);
    color: #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 28px;
    margin-bottom: 45px;
    margin-top: 0px;
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

h1 i {
    float: inline-end;
    cursor: pointer;
}

input {
    width: 99%;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    display: block;
}

input:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

#playlist-title {
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: center;
}

#search-title {
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

#videos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.tab-item.active {
    background-color: #5ba4b4; /* Color de fondo más llamativo */
    border: 2px solid #10484d;
    border-radius: 8px; /* Redondeado más pronunciado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra más marcada */
    color: white;
    font-weight: bold;
    position: relative;
}

.tab-item.active::before {
    content: "Pestaña Actual";
    position: absolute;
    top: -10px;
    left: -10px;
    background: #10484d;
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: normal;
}

.tab-item.active:hover {
    background-color: #4a8c9a; /* Color de fondo al hacer hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada al hacer hover */
}

.domain-section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    h2 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
            Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        color: rgb(49, 48, 48);
    }
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Alinear los botones a la derecha */
}

.button-container button {
    margin-left: 10px; /* Espacio entre los botones */
}

.open {
    color: white;
    background-color: #4a90e2;
    &:hover {
        background-color: #357abd;
    }
}

.remove {
    color: white;
    background-color: #e74c3c;
    &:hover {
        background-color: #c0392b;
    }
}

#controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

#controls button {
    flex: 1 1 calc(50% - 10px);
    margin: 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, transform 0.2s;
}

#controls button:hover {
    transform: translateY(-1px);
}

#controls button:active {
    transform: translateY(0);
}

#close-unpinned {
    background-color: #e74c3c;
    color: white;
}

#close-unpinned:hover {
    background-color: #c0392b;
}

#close-all {
    background-color: #e74c3c;
    color: white;
}

#close-all:hover {
    background-color: #c0392b;
}

#duplicate-tab {
    background-color: #4a90e2;
    color: white;
}

#duplicate-tab:hover {
    background-color: #357abd;
}

#group-by-domain {
    background-color: #4a90e2;
    color: white;
}

#group-by-domain:hover {
    background-color: #357abd;
}

#mark-read {
    background-color: #2ecc71;
    color: white;
}

#mark-read:hover {
    background-color: #27ae60;
}

#unpin-all {
    background-color: #f39c12;
    color: white;
}

#unpin-all:hover {
    background-color: #e67e22;
}

#tabs-list,
#saved-tabs-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tab-item,
.saved-tab-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 4px;
}

.mute-button {
    padding: 2px 6px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.mute-button:hover {
    background-color: #362523;
}

.mute-button.muted {
    background-color: #362523;
}

.mute-button.muted:hover {
    background-color: #2980b9;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #c4c4c4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

li.read {
    background-color: #979595;
}

li:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #e8e9e9;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, transform 0.2s;
}

button.close {
    background-color: #e74c3c;
    color: white;
}

button.close:hover {
    background-color: #c0392b;
}

button.pin {
    background-color: #3c76b8;
    color: white;
}

button.pin:hover {
    background-color: #357abd;
}

button.refresh {
    background-color: #25a359;
    color: white;
}

button.refresh:hover {
    background-color: #27ae60;
}

/* Estilos para los grupos de dominio */
.domain-section {
    margin-bottom: 20px;
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 5px;
    justify-content: space-around;
    h2 {
        color: white;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 0px;
        cursor: pointer;
    }
    span {
        float: inline-end;
        cursor: pointer;
    }
}

/* Estilos para fondos diferentes */
.domain-section:nth-child(odd) {
    background-color: #305e63;
}

.domain-section:nth-child(even) {
    background-color: #305e63;
}

/* Estilos para la flecha */
.domain-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.arrow {
    display: inline-block;
    margin-left: 10px;
}

.arrow.collapsed {
    transform: rotate(360deg);
}

.hidden {
    display: none;
}

.save {
    background-color: #3c76b8;
    color: #fff;
    &:hover {
        background-color: #2c6297;
    }
}

.tab-title {
    cursor: pointer;
}

.restore {
    color: white;
    background-color: #25a359;
    &:hover {
        background-color: #27ae60;
    }
}

.restore-all {
    color: white;
    vertical-align: middle;
    margin-left: 20px;
    background-color: #206066;
    &:hover {
        background-color: #174549;
    }
}

#saved-tabs-container {
    h2 {
        color: white;
        font-size: 28px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
            Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        text-align: center;
    }
    ul {
        text-align: center;
        margin-bottom: 40px;
    }
}

#closed-tabs {
    text-align: center;
    h2 {
        color: white;
        font-size: 28px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
            Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    }
}

.no-tabs {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    span {
        color: black;
    }
}
